.home {
    /* border: 1px solid red; */
    /* font-family: 'DM Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.home a {
    color: black;
    text-decoration: none;
    border: 1px solid transparent;
}

.home a:hover {
    transition: 0.8s;
    /* border: 1px solid rgb(243, 205, 133); */
    border-radius: 10px;
}

.home ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.recipeItem {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;

}

.recipeItem img {
    border-radius: 10px;
}

.popularDiv {
    background-color: rgb(240, 227, 210);
    padding: 20px 0px 30px 0px;
}

.popular-title {
    text-align: center;
}

.popular-recipes {
    display: flex;
    justify-content: center;
    align-items: start;
}

.popular-recipes img {
    border-radius: 10px;
}

.popular-big {
    display: flex;
    flex-direction: column;
}

.popular-big h1 {
    margin: 0;
    font-size: 25px;
    text-align: center;
}

.popular-big h1:hover {
    text-decoration: underline;
}

.popular-big img {
    width: 40rem;
}

.popular-side {
    padding: 0 0 0 2rem;
    display: flex;
    flex-direction: column;
    /* width: 450px; */
    gap: 1rem;
}

.popular-side a {
    /* border: 1px solid rgb(10, 255, 35); */
}

.popular-side img {
    max-width: 8rem;
}

.popular-side a div {
    display: flex;
}

.popular-side div h1 {
    padding: 0px 1rem;
    font-size: 1rem;
    margin: 0;
}

.popular-side div h1:hover {
    text-decoration: underline;
}

.popular-side img {
    width: 10rem;
}

.popular-side-description {
    display: flex;
    flex-direction: column;
}

.popular-side-facts {
    display: flex;
    flex-direction: column;
    padding: 0px 0rem;
    margin: 0;
    padding: 0px 1rem;
}

.popular-side-facts h5 {
    /* border: 1px solid lightgreen; */
    margin: 0;
    font-weight: 300;
}

.popular-side-likes {
    display: flex;
}