.register-container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.register-leftside {
	height: 100vh;
	width: 50vw;
}

.register-leftside img {
	width: 50vw;
	height: 100vh;
	display: block;
	object-fit: cover;
	object-position: center;
}

.register-form {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	margin: auto;
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	width: 50vw;
	height: 100vh;
	position: relative;
}

.register-form form {
	margin: auto;
}

.register-form img {
	align-items: start;
	width: 100px;
	padding-top: 20px;
}

.register-form form h1 {
	font-size: 3rem;
	text-align: center;
}

.form-group {
	font-weight: 900;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
}

.form-group input {
	height: 30px;
	width: 400px;
	border: 2px solid rgb(11, 4, 66);
	margin-bottom: 1.5rem;
}

/* .form-group input:: {
    border: 2px solid blue;
} */

.register-form form button {
	display: flex;
	margin: auto;
	/* padding: 10px; */
	font-weight: 700;
	font-style: italic;
	border: transparent;
	/* border-radius: 10px; */
	visibility: none;
	background-color: white;
}
